<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%# Do not show user association when creating a profile unless it's admin viewing %>
    <% if admin_signed_in? %>
      <%= f.association :user, :label_method => :email, :label => "Email" %>
    <% end %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender, as: :radio_buttons, collection: ['Male', 'Female', 'Other'], wrapper: :vertical_collection_inline %>
    <%= f.input :dob %>
    <%= f.input :phone %>
    <%= f.input :occupation %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
