<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>By:</strong>
  <%= link_to "#{@listing.user.profile.first_name || @listing.user.profile.company_name}", profile_url(@listing.user.profile.id) %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @listing.rate %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @listing.deposit %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% if admin_signed_in? || (user_signed_in? && (@listing.user_id == current_user.id)) %>
  <%= link_to 'Edit', edit_listing_path(@listing) %>
  | <%= link_to 'Requests for this item', listing_rent_requests_path(@listing) %>
<% else %>
  <%= link_to 'Rent', new_listing_rent_request_path(@listing) %>
<% end %>