<div class="pure-g">
<% @listings.each do |listing| %>
<div class="pure-u-1-3">
    <div class="card homepage">
    <div class="img_cont">
        <%= image_tag(listing.photo_url, class: "card-img-top") %>
    </div>
        <div class="card-body">
            <h5 class="card-title"><%= link_to listing.title, listing_path(listing) %></h5>
            <p class="card-text"><%= listing.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">$<%= "%.2f"%listing.rate %> AUD per day</li>
            <li class="list-group-item">Deposit: $<%= "%.2f"%listing.deposit %> AUD</li>
        </ul>
        <div class="card-body">
            <% if RentRequest.where("requester_id = ? AND listing_id = ?", current_user.id, listing.id).exists? %>
                <button type="button", class="btn btn-sm btn-outline-secondary", disabled>Requested</button>
            <% else %>
                <%= link_to 'Rent This Item', new_listing_rent_request_path(listing), type: "button", class: "btn btn-sm btn-outline-secondary" %>
            <%end%>
        </div>
    </div>
    </div>
<% end %>            
</div>
 