<!DOCTYPE html>
<html>
  <head>
    <title>WhybuyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/navbar' %>
    <!-- Add side margins to whole app's content except navbar-->
    <div class="container">
      <%# this is where views from other controllers are rendered %>
      <%= yield %>
      <%# moving JS to the end of body to improve performance %>
    </div>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
