
<%= simple_form_for(@rent_request, url: listing_rent_requests_path(@listing)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%# f.association :owner %>
    <%# f.association :requester %>
    <%# f.association :listing %>
    <%= f.input :total_price %>
    <%# f.input :accepted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
