<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @rent_request.owner.email %>
</p>

<p>
  <strong>Requester:</strong>
  <%= @rent_request.requester.email %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @rent_request.total_price %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @rent_request.accepted %>
</p>